Repository henriquesebastiao/downtify, pull requests merged in 2025-03, with the labels that each got.

#7 Documenting API and adding tests
  .github/workflows/smokeshow.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  main.py
  pyproject.toml
  requirements.txt
  templates/index.html
  tests/conftest.py
  tests/test_download.py
  tests/test_index.py
  uv.lock
Labels: enhancement

#8 📜 docs: Adding documentation with MkDocs
  .dockerignore
  .readthedocs.yml
  docs/assets/favicon.ico
  docs/assets/icon-without-backgroud.svg
  docs/index.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Labels: documentation

#13 Adding `/list` endpoint to view downloaded songs
  main.py
  static/css/style.css
  templates/index.html
  templates/list.html
Labels: enhancement

#21 🔧 feat: Set container web port via environment variable - fix #20
  Dockerfile
  README.md
  docker-compose.yml
  docs/index.md
  entrypoint.sh
  pyproject.toml
  uv.lock
Labels: enhancement

#22 🔧 fix: Fix error when running ffmpeg - fix #19
  Dockerfile
  main.py
  pyproject.toml
  requirements-app.txt
  requirements.txt
  uv.lock
Labels: bug
